body {
  font-family: 'Raleway', sans-serif!important;
}
.divImgLogo {
  width: 220px;
}

.imgLogo {
  width: 100%;
}
.listMargin {
  margin-right: 200px;
}

.containerImgProfile {
  margin-top: 50px;
}
.containerImgProfile {
  width: 500px;
  overflow: hidden;
  margin:0;
}
.containerImgProfile img {
  width: 100%;
}

.dataProfileImageName {
  margin-top: 40px;
  margin-bottom: 40px;
}

.descriptionProfile {
  margin-bottom: 30px;
}
.iconZise {
  font-size: 1.5em;
  margin: 5px 5px;
}

.contaierSocialMedia, .profileName{
  text-align: center;
}
.graphContainer {

	margin-top: 30px;


}
